* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #030712;
}

.container {
  padding: 20px;
  text-align: center;
  align-items: center;

  width: 500px;
  max-width: 400px;
  text-align: center;
  margin-right: 100px;
}
.parent-container {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.weather-container {
  text-align: center;
  margin-top: 10px;

  border: 2px solid #030712;
  border-radius: 20px;
  background-color: lightgray;
  padding: 10px;

  width: 500px;
  height: auto;
}

.item1 {
  height: 70px;
  width: 80px;

  display: block;
  margin: auto;
  margin-top: 100px;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 7px solid #c8bfc7;
  border-left-color: #e95605;
  animation: rotate_it 1s linear infinite;
}
@keyframes rotate_it {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-size: 24px;
  color: #9b111e;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

h5 {
  font-size: 24px;
  color: #9b111e;

  margin-top: 20px;
  margin-bottom: 10px;
}
.weatherdata {
  /* color: #a69649; */
  color: #6d0404;
  font-weight: bold;
  font-size: large;
  gap: 5px;
  margin: 10px;
  margin-right: 20px;
}
img {
  background-color: #e0aba9;
  border-radius: 38px;
}

input[type="text"] {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  color: black;
  font-weight: 600;
}

input[type="text"]:focus {
  border-color: #4e73df;
  outline: none;
}

button {
  background-color: green;
  padding: 5px;
  color: white;
  font-weight: 800;
  border: none;
  width: 400px;
  height: 42px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2e59d9;
}
#lat {
  border: 1px solid black;
  width: 55%;
}

/* Loading and Error Message */
h1,
p {
  font-size: 18px;
  color: #9b111e;
}
.error {
  color: red;
  font-size: x-large;
  text-align: center;
  margin-top: 100px;
}
.riserase {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
}
.rise {
  border: 2px solid #600311;
  border-radius: 10px;
  background-color: #600311;
  color: rgb(236, 236, 26);
  padding: 3px;
  width: 150px;
}
.rase {
  border: 2px solid #600311;
  border-radius: 10px;
  background-color: #600311;
  color: rgb(236, 236, 26);
  padding: 3px;
  width: 150px;
}
.wind {
  border: 2px solid #600311;
  border-radius: 10px;
  background-color: #600311;
  color: rgb(236, 236, 26);
  padding: 3px;
  width: 150px;
}
.maxtemp {
  border: 2px solid #600311;
  border-radius: 10px;
  background-color: #600311;
  color: rgb(236, 236, 26);
  padding: 3px;
  width: 150px;
}
.mintemp {
  border: 2px solid #600311;
  border-radius: 10px;
  background-color: #600311;
  color: rgb(236, 236, 26);
  padding: 3px;
  width: 150px;
}
.hum {
  border: 2px solid #600311;
  border-radius: 10px;
  background-color: #600311;
  color: rgb(236, 236, 26);
  padding: 3px;
  width: 150px;
}
.pre {
  border: 2px solid #600311;
  border-radius: 10px;
  background-color: #600311;
  color: rgb(236, 236, 26);
  padding: 3px;
  width: 150px;
}

p {
  color: crimson;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    padding: 15px;
    width: 100%;
  }

  h2 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }
}

#lat {
  color: black;
}
/* From Uiverse.io by Shoh2008 */
.loader {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  display: block;
  margin: auto;

  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}
